<div>
    <h2 (click)="house.name = 'test'">
        <a [routerLink]="['/annonces', house.id]">
            {{ house.name }}
            <span class="city">à {{ house.city }}</span>
        </a>
    </h2>
    <p>{{ house.rental | tax | currency }} / mois ou {{ house.price | tax | currency }}</p>
    <p>{{ tax(house.rental) | currency }} / mois</p>
    <p>{{ house.rooms }} pièces {{ house.wifi ? 'avec' : 'sans' }} WiFi</p>

    <img class="photo" [src]="house.photo" [alt]="house.name">

    <p>{{ random() }}</p>
    <button (click)="rent()" *ngIf="!(isInCart | async); else removeBtn">Louer</button>
    <ng-template #removeBtn>
        <button (click)="remove()">Supprimer</button>
    </ng-template>
</div>
