<div>
    <h2 (click)="house.name = 'test'">
        <a [routerLink]="['/annonces', house.id]">
            {{ house.name }}
            <span class="city">à {{ house.city }}</span>
        </a>
    </h2>
    <p>{{ house.rental | tax | currency }} / mois ou {{ house.price | tax | currency }}</p>
    <p>{{ tax(house.rental) | currency }} / mois</p>
    <p>{{ house.rooms }} pièces {{ house.wifi ? 'avec' : 'sans' }} WiFi</p>

    <img class="photo" [src]="house.photo" [alt]="house.name">

    <p>{{ random() }}</p>
    <div *ngIf="!(isInCart | async); else removeBtn">
        <dsfr-buttons-group inline="always">
            <dsfr-button label="Louer" (click)="rent()"></dsfr-button>
            <dsfr-button label="Acheter" (click)="buy()"></dsfr-button>
        </dsfr-buttons-group>
    </div>
    <ng-template #removeBtn>
        <dsfr-button label="Supprimer" [variant]="'secondary'" icon="fr-icon-delete-bin-fill" (click)="remove()"></dsfr-button>
        <br><br>
        <dsfr-alert size="SM" severity="success"
            [heading]="alert"
            [closable]="true"
            *ngIf="alert"
        ></dsfr-alert>
    </ng-template>
</div>
