<div class="container">
    <header class="flex">
        <h1 (click)="title = 'Immobiliare 2'">{{ title }}</h1>
        <nav class="flex">
            <a routerLink="/">Accueil</a>
            <a routerLink="/annonces">Annonces</a>
            <a routerLink="/panier">Panier ({{ cart.length }})</a>
            <div *ngIf="!(authService.logged() | async); else notLogged">
                <!-- @todo un input pour choisir son pseudo ? -->
                <button (click)="authService.login('Fiorella')">Connexion</button>
            </div>
            <ng-template #notLogged>
                <button (click)="authService.logout()">Déconnexion</button>
                {{ authService.user | async | json }}
            </ng-template>
        </nav>
    </header>
    
    <router-outlet></router-outlet>
</div>
